{% extends 'base.html' %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Lista de Cidades
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead class="text-center">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>UF/País</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Ver dados</th>
                </tr>
            </thead>
            <tfoot class="text-center">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>UF/País</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Ver dados</th>
                </tr>
            </tfoot>
            <tbody class="text-center">
                {% for cidade in cidades %}
                <tr>
                    <td>{{ cidade[0] }}</td>
                    <td>{{ cidade[1] }}</td>
                    <td>{{ cidade[2] }}</td>
                    <td>{{ "%.3f"|format(cidade[3]) }}°N</td>
                    <td>{{ "%.3f"|format(cidade[4]) }}°E</td>
                    <td><a href="{{ cidade[5] }}" class="link">Ver mais</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}