{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputUser" name="user" type="text" placeholder="usuario" required/>
                            <label for="inputUser">Nome de Usuário</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPassword" type="password" placeholder="Senha" />
                            <label for="inputPassword">Senha</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                            <label class="form-check-label" for="inputRememberPassword">Lembrar Senha</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Login</a>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{{ url_for('auth.registro') }}">Cadastrar</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}